@model DalXwing.Models.Amelioration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Amelioration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TailleMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TailleMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TailleMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TailleMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnParVaisseau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnParVaisseau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
